<div class="container">

  <div class="card">

    <button (click)="toggleForm()" *ngIf="!formShowing">Form</button>
    <form (submit)="addNewFood()" *ngIf="formShowing">

      <div>
        <label>Name</label>
        <input type="text" name="a" [(ngModel)]="newFoodItem.name">
      </div>
      <div>
        <label>Calories</label>
        <input type="text" name="a" [(ngModel)]="newFoodItem.calories">
      </div>
      <div>
        <label>Quantity</label>
        <input type="text" name="a" [(ngModel)]="newFoodItem.quantity">
      </div>
      <div>
        <label>Image</label>
        <input type="text" name="a" [(ngModel)]="newFoodItem.image">
      </div>
      <button type="submit">Submit</button>
    </form>

    <br>
    <br>
    <label for="">Search:</label>
    <input type="text" (keyup)="searchFoodItem()" [(ngModel)]="searchValue">
    <!-- <button >Search</button> -->

  </div>

  <div class="card">
    <div *ngFor="let todaysFoodItem of todaysFoods">
      <h5>Name: {{todaysFoodItem.name}} x {{todaysFoodItem.quantity}}</h5>
    </div>
    <h4>CalorieCount: {{calories}}</h4>
  </div>

  <div class="card" *ngFor="let foodItem of foodList">
    <!-- <div *ngIf="food.quantity === 1"> -->

    <h3>Name: {{foodItem.name}}</h3>
    <h3>Calories: {{foodItem.calories}}</h3>
    <h3>Quantity: {{foodItem.quantity}}</h3>
    <img [src]="foodItem.image" alt="">
    <br>
    <input type="number" [(ngModel)]="addedQuantity">
    <button (click)="addToTodaysFoods(foodItem)">Add</button>

    <!-- </div> -->

  </div>


</div>
